.Section {
    background: url("../../../public/rings-horizontal-bg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
	position: relative;
}

.Container {
	align-items: center;
  	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	padding: 85px 0 175px 0;
	position: relative;
}

.Modal { 
    background: var(--BG, linear-gradient(169deg, #282828 8.42%, #202020 48.96%, #202020 95.87%));
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 40px;
	height: 100%;
	padding: 30px 15px 30px 45px;
	width: 75%;
}

.ModalContent {
	align-items: center;
    display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	max-width: 1165px;
	width: 100%;
}

.ModalContent_Error {
	align-items: center;
    display: flex;
	flex-direction: column;
	height:100vh;
	justify-content: center;
	max-width: 1165px;
	width: 100%;
}

.ModalHeader{
	align-items: center;
    display: flex;
    flex-direction: column;
}

.ModalHeading {
    font-size: 35px;
	text-align: center;
}

.ModalSubtitle {
    font-size: 18px;
	text-align: center;
}

.DealInformation {
	padding: 40px 0 0;
}

.DealInformationSection {
	margin: 0 0 40px;
}

.DealInformationSection_Error {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 40px;
}

.DealInformationTitle {
	color: #9D9D9D;
	font-size: 22px;
	margin: 0 0 12px;
}

.DealBulletPoints {
	color: white;
	font-size: 18px;
	margin: 0 0 5px;
}

.DealLinksBox {
	display: flex;
	flex-direction: column;
}

.DealLink {
	cursor: pointer;
    color: #FF6B00;
	font-size: 18px;
}

.WhyToInvest {
	font-size: 18px;
}

.ButtonsBox {
	align-items: center;
    display: flex;
	justify-content: center;
	margin: 60px 0 0;
}

.ButtonLink:first-child {
    margin: 0 20px 0 0;
}

.LogoWrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 70px 0;
	width: 100%;
}
