.ModalForm {
    align-items: center;
    display: flex;
	flex-direction: column;
	justify-content: center;	
}

.ModalForm label {
    margin: 0 0 25px;
}

.InputWrapper {
    width: 100%;
}

.InputWrapper label {
    display: block;
    width: 100%;
}

.InputWrapper input {
    background: #232323;
    border: 1px solid #424242;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12) inset, 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
    margin: 10px 0 0;
    outline: none;
    padding: 20px 18px;
    width: 100%;
}

.FormInput::placeholder {
    size: 18px;
}

.ErrorWrapper {
    align-items: flex-end;
    display: flex;
    height: 2rem;
    margin-left: 0.25rem;
}

.ErrorIcon {
    color: rgb(222, 109, 52);
    height: 1.25rem;
    width: 1.25rem;
}

.ErrorMessage {
    color: rgb(222, 109, 52);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.ButtonWrapper {
    width: fit-content;  
}

.ButtonWrapper button {
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 25px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    font-size: 21px;
    padding: 12px 40px;
}
