.IconWrapper {
    align-items: center;
	background-image: linear-gradient(180deg, #222 0%, #000 135.83%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 60px;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 60px;
}